div#app {
    width: 100%;
    display: flex;
    /* border-style: dotted;
    border-width: 2px;
    border-color: red */
}

div#navigation {
    width: 10%;
    margin: 10px;
    /* border-style: dotted;
    border-width: 2px;
    border-color: blue; */
    
}

div#display {
    width: 90%;
    margin: 10px;
    /* border-style: dotted;
    border-width: 2px;
    border-color: green; */
}

div.picture {
    display: flex;
    justify-content: center;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    margin: 10px;
}

div.link {
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    margin: 10px;
}

.same {
    box-shadow: 10px 10px;
    border-radius: 10px;
}
div.text {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 10px;
}

button {
    height: 100px;
    width: 100px;
}

img {
    width: 400px;
}
